api_key.py
/myenv
__pycache__
queues.json
oldBot.py
tempCodeRunnerFile.py
info/login.py

documents

info/formattedFiles
info/open_ai_key.py
info/servicenow.py
indexdir

.env 

info/asked_questions.txt

info/SN_Email_Checker.py
info/SN_Kb_Creator.py