api_key.py
/myenv
__pycache__
queues.json
oldBot.py
tempCodeRunnerFile.py
info/login.py

documents

info/formattedFiles
info/open_ai_key.py
indexdir

.env 

info/asked_questions.txt

info/SN_Kb_Creator.py
info/info/SN_Incidents_Checker.py

credentials.json
token.json

refresh.token
requirements.txt

info/data